.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;

  --padding: 2rem;

  color: var(--white);

  flex-grow: 1;

  padding: var(--padding);
  border-radius: 2rem;
}

.light-widget svg {
  width: 75%;
  height: 75%;
}

.light-widget button {
  border-radius: 2rem;

  border: 1px solid var(--white);

  outline: none;

  background: none;
}

.light-widget--active svg {
  fill: yellow;
}

.sidebar {
  display: none;

  --padding: min(3rem, 3vw);

  background-color: var(--secondary);
  flex-basis: min(28vw, 28rem);
  justify-self: end;

  padding: var(--padding);
}
