.dashboard {
  --padding: 2rem;

  color: var(--white);
  background: red;

  flex-basis: calc(20% - var(--padding) * 2);

  padding: var(--padding);
  border-radius: 2rem;
}

.light-widget svg {
  width: 75%;
  height: 75%;  
}

.light-widget button {
  border-radius: 2rem;

  border: 1px solid var(--white);

  outline: none;

  background: none;
}

.light-widget--active svg {
  fill: yellow;
}