:root {
  /* Colors */
  --primary: #111111;

  --secondary-lightest: #373737;
  --secondary-lighter: #242424;
  --secondary-light: #181818;
  --secondary: #151515;

  --neutral: #ffffff;
  --neutral-dark: #646464;

  --accent: #727cc6;
  --accent-dark: #6974c9;
  --accent-darker: #606ccc;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

@font-face {
  font-family: "Formular";
  font-weight: 200;

  src: url("../fonts/Formular-Light.woff");
}

@font-face {
  font-family: "Formular";
  font-weight: 300;

  src: url("../fonts/Formular.woff");
}

@font-face {
  font-family: "Formular";
  font-weight: normal;

  src: url("../fonts/Formular-Medium.woff");
}

@font-face {
  font-family: "Formular";
  font-weight: bold;

  src: url("../fonts/Formular-Bold.woff");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  margin: 0;
  padding: 0;

  font-family: "Formular";
}

.heading--1 {
  font-size: 3rem;
}

.App {
  color: var(--neutral);
  background-color: var(--primary);

  display: flex;

  height: 100vh;
}

.page {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.page::-webkit-scrollbar {
  display: none;
}

.field {
}

.field__label {
  margin-bottom: 1rem;
}

.field input {
  color: var(--neutral);

  font-family: "Formular";
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="number"] {
  background: none;
  outline: none;

  padding: 1rem;
  border: 2px solid var(--neutral-dark);
  border-radius: 8px;

  font-size: 1rem;

  transition: 0.2s ease;
}

.field input[type="text"]:focus {
  border-color: var(--neutral);
}

.button--purple {
  color: var(--neutral);
  background: var(--accent);

  border: none;
  border-radius: 8px;
  padding: 1rem;

  cursor: pointer;

  font-family: "Formular";
  font-size: 1rem;
}
