.navbar {
  --padding: min(3rem, 3vw);

  background-color: var(--secondary);

  position: relative;

  /*
  display: flex;
  flex-direction: column;
  */

  flex-basis: min(20vw, 20rem);

  padding: var(--padding);
}

.navbar__brand {
  margin: 0 auto;
  width: min(12vw, 3rem);
}

.navbar__user-name {
  margin-top: 2rem;

  font-size: 1.5rem;
}

.navbar__user-email {
  color: var(--neutral-dark);

  font-size: 0.9rem;
  font-weight: 200;
}

.navbar__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-top: 3rem;
}

.navbar__link {
  color: var(--neutral);

  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;

  text-decoration: none;
}

.navbar__link:hover .navbar__link-icon-indicator {
  fill: var(--accent);
}

.navbar__link--active .navbar__link-icon-indicator {
  fill: var(--accent);
}

.navbar__link-label {
  font-weight: 300;
}

.navbar__link-icon {
  width: 24px;
  height: 24px;
}

.navbar__link-icon-path {
  fill: var(--neutral);
}

.navbar__link-icon-indicator {
  fill: var(--neutral-dark);

  transition: 0.2s;
}

.navbar__footer {
  position: absolute;
  bottom: var(--padding);
}
