.thresholds {
    --padding: min(2rem, 2vw);
    background-color: var(--secondary);
    position: relative;

    display: flex;
    flex-direction: column;
  
    flex-basis: min(20vw, 20rem);

    padding: var(--padding);
}

.threshold {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 1rem;
}

.thresholds__label {
    color: var(--accent);
}

.threshold__value {
    text-align: center;
}

.thresholds > * {
    margin-bottom: 2rem;
}
  
.temperature{
    width:4em;
    height:4em;
    
}

.light{
    width:3.8em;
    height:3.8em;
}
